@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

#container {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}

h2 {
	font-size: 35px;
	color: #1899D6;;
}

input {
	margin-left: 20px;
	height: 40px;
	width:  250px;
}

button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 115px;
  margin-right: 20px;
}

button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

#gameBoard {
	width:  600px;
	height: 600px;
/*	border: black 1px solid;
*/	margin:  0 auto;
	margin-top: 5%;
}

#turn {
	text-align: center;
	margin-top: 0%;
}

.hideSection {
	display:  none;
}

.playAgain {
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.changeJoes {
	width: 600px;
	margin: 0 auto;
	margin-top: 10px;
}

.who {
	/*border: 1px solid black;*/
	width: 200px;
	height: 263px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.square {
	display: inline-block;
	width: 32%;
	height: 32%;
	border: black solid 1px;
	background-color: #1289ce;
}

.joes {
	display:  inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.joes:hover {
	background-color: #f6ff99;
}

.square:hover {
	background-color: #f6ff99;
}

/*.cage {
	background-image: url("https://www.placecage.com//200/200")
}

.murray {
	background-image: url("http://www.fillmurray.com/200/200")
}*/

.broJoe {
	background-image:  url("images/broJoe.jpeg");
}

.yourturn {
	border-bottom: 10px solid green;
}